@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;1,300&display=swap");
html, body {
  overflow-x: hidden;
  margin: 0;
  font-size: 18px;
  font-family: 'Public Sans', sans-serif;
}

section .landing-page-section {
  padding: 3rem 0;
}

.bg-medium {
  background-color: #f3f4f6;
  padding-bottom: 4rem;
  padding-top: 3rem;
}

.button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-size: 1rem;
  padding: .7rem 1.5rem;
  border-radius: 3rem;
  color: white;
  width: 10rem;
}

.button-accent {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to bottom right, #31d35c, #2bb7da);
}

.button-accent:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to left, #31d35c, #2bb7da);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

nav.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.main-nav .hamburger-wrapper {
  display: none;
}

nav.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

nav.main-nav ul li {
  list-style-type: none;
  padding: 1.5rem 0;
  margin: 0 1rem;
  position: relative;
}

nav.main-nav ul li:hover {
  color: #f3f4f6;
}

nav.main-nav ul li:hover::after {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 4px;
  background-color: #31d35c;
  bottom: 0;
  left: 0;
}

nav.main-nav ul li a {
  text-decoration: none;
  color: #9698a6;
}

.banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.banner .banner-info-container {
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner .banner-info-container .banner-subtitle {
  color: #9698a6;
  margin-bottom: 1.5rem;
}

.banner .upper-img {
  position: absolute;
  top: -62px;
  right: -133px;
}

.banner .image-wrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50%;
  height: 700px;
}

.banner .image-wrapper .bg1-container {
  overflow: hidden;
  height: 100%;
}

.banner .image-wrapper .bg1-container .bg1 {
  position: absolute;
  top: -170px;
  right: -360px;
  height: 950px;
}

.banner-info {
  position: absolute;
  width: 100%;
  height: 100%;
}

.feature {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.feature .icon-circle {
  width: 80px;
  height: 80px;
}

.feature .icon-circle img {
  width: 100%;
  height: 100%;
}

.feature__title {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #2d314d;
}

.feature__title:hover {
  color: #31d35c;
}

.feature__description {
  font-size: .8rem;
  color: #9698a6;
}

.latest-article {
  background-color: white;
  border-radius: .5rem;
  overflow: hidden;
}

.latest-article-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

.latest-article .image-wrapper {
  height: 200px;
}

.latest-article .image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.latest-article__content {
  padding: 1rem;
}

.latest-article__author {
  display: block;
  margin: 0 0 1rem;
  font-size: .8rem;
  color: #9698a6;
}

.latest-article__title {
  font-size: 1rem;
  margin: 0;
  width: 75%;
}

.latest-article__title:hover {
  color: #31d35c;
}

.latest-article__subtitle {
  display: block;
  font-size: .8rem;
  color: #9698a6;
  margin-top: 1rem;
}

.section-title {
  font-size: 1.5rem;
}

.section-subtitle {
  display: block;
  color: #9698a6;
  margin-bottom: 3rem;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  background-color: #2d314d;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 50px 36px;
  background-color: #2d314d;
}

footer .container::after {
  display: table;
  clear: both;
}

.background-image .logo-image {
  margin-top: 1rem;
}

.background-image .image {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-right: 20px;
}

.background-image .image a img {
  margin: 20px;
}

.background-image .image .icon-social:hover {
  display: none;
}

.background-image .image .icon-social2 {
  display: none;
}

.background-image .image .icon-social:hover + .icon-social2 {
  display: block;
}

.logo1 {
  cursor: pointer;
  width: 150px;
  height: 30px;
  margin: 1rem;
}

.nav-footer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display-flex-direction: row;
  display-justify-content: space-between;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  background-color: #2d314d;
}

.nav__link li {
  display: inline;
  font-size: 15px;
  padding: 0px 10px;
  margin: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #f3f4f6;
}

.nav__link li:hover {
  color: #31d35c;
}

.btn {
  background: -webkit-gradient(linear, left top, right bottom, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to bottom right, #31d35c, #2bb7da);
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 180px;
  height: 50px;
  outline: none !important;
  border: none;
  color: white;
}

.footer-page {
  text-align: right;
  margin-bottom: 3rem;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.footer-page div {
  width: 100%;
}

.footer-page .btn {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer-page span {
  margin-top: auto;
  color: #9698a6;
}

.btn:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to left, #31d35c, #2bb7da);
  background-color: white;
}

@media screen and (max-width: 375px) {
  nav.main-nav .brand-logo img {
    height: 16px;
  }
  nav.main-nav ul {
    position: fixed;
    top: 70px;
    left: 10vw;
    width: 80vw;
    height: 300px;
    padding: 1.5rem 0;
    margin: auto;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    z-index: 1;
    background-color: white;
    text-align: center;
  }
  nav.main-nav ul li {
    padding: 1rem;
    margin: auto;
    color: #2d314d;
  }
  nav.main-nav ul li a {
    color: #2d314d;
    font-weight: 400;
  }
  nav.main-nav .invite {
    display: none;
  }
  nav.main-nav .hamburger-wrapper {
    display: block;
  }
  .container {
    padding: 1rem;
  }
  .latest-article-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .section-title {
    text-align: center;
  }
  .feature {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feature__description {
    text-align: center;
  }
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .banner .button-accent {
    margin-left: 4rem;
  }
  .banner-info {
    position: static;
    margin-top: 3rem;
  }
  .banner-info-container {
    -webkit-transform: translateY(0) !important;
            transform: translateY(0) !important;
  }
  .banner .container {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    text-align: center;
  }
  .banner .image-wrapper {
    height: auto;
  }
  .banner .image-wrapper .bg1-container {
    height: 340px;
    overflow: hidden;
  }
  .banner .image-wrapper .bg1-container img {
    top: 56px !important;
    height: 584px !important;
    -webkit-transform: translate(-107px, -251px);
            transform: translate(-107px, -251px);
  }
  .banner .image-wrapper .upper-img {
    right: .5rem;
    top: -66px;
    width: calc(100vw - 1rem);
  }
  footer .footer-page {
    text-align: center;
  }
  footer .container {
    max-width: 375px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: center;
    padding: 0;
  }
  .background-image {
    margin: 1rem auto;
  }
  .background-image .image {
    margin: 0;
  }
  .nav-footer {
    width: 300;
    margin: 15px auto;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-footer .btn {
    padding: 0;
  }
  .nav-footer span {
    margin-top: 2rem;
    text-align: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .nav-footer li {
    text-align: center;
    margin: auto;
  }
  .nav__link {
    margin: 5px auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__link li {
    margin: 10px auto;
  }
}
/*# sourceMappingURL=styles.css.map */